<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>136883027034-8gfhcplm0960cua6gq54bg9ktjcj9ok8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.136883027034-8gfhcplm0960cua6gq54bg9ktjcj9ok8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>136883027034-kjcig04lm13c8phrm3ass0b9hceku2h2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyByabulDOh1UG0Ctpb3e9MOTiPsdA5W6XI</string>
	<key>GCM_SENDER_ID</key>
	<string>136883027034</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.lession11Firebase2</string>
	<key>PROJECT_ID</key>
	<string>reactnativelession11-c686a</string>
	<key>STORAGE_BUCKET</key>
	<string>reactnativelession11-c686a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:136883027034:ios:be71e4c664244744</string>
	<key>DATABASE_URL</key>
	<string>https://reactnativelession11-c686a.firebaseio.com</string>
</dict>
</plist>